Source: live-config
Section: misc
Priority: optional
Maintainer: Live Systems Maintainers <debian-live@lists.debian.org>
Uploaders: Daniel Baumann <mail@daniel-baumann.ch>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: lsb-release
Standards-Version: 3.9.4
Homepage: http://live-systems.org/devel/live-config/
Vcs-Browser: http://live-systems.org/gitweb/?p=live-config.git
Vcs-Git: git://live-systems.org/git/live-config.git

Package: live-config
Architecture: all
Depends: ${misc:Depends}
Conflicts: live-config-sysvinit
Replaces: live-config-sysvinit
Recommends:
 live-config-doc, live-tools, console-tools, iproute, keyboard-configuration,
 locales | locales-all, user-setup, sudo
Suggests: pciutils, wget
Description: Live System Configuration Components
 live-config contains the components that configure a live system during the
 boot process (late userspace).

Package: live-config-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Live System Configuration Components (documentation)
 live-config contains the components that configure a live system during the
 boot process (late userspace).
 .
 This package contains the documentation.
