# Debian Live - System Configuration Scripts
#
# live-config contains the scripts that configure a Debian Live system during
# the boot process (late userspace).
#
# This is the systemd service for live-config.


[Unit]
Description=live-config contains the scripts that configure a Debian Live system during the boot process (late userspace).

[Service]
ExecStart=/lib/live/config.sh
Type=finish
ValidNoProcess=yes
