Source: live-config-foobar
Section: misc
Priority: extra
Maintainer: John Doe <john@example.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.example.org/foobar/
Vcs-Browser: http://git.example.org/?p=live-config-foobar.git
Vcs-Git: git://git.example.org/git/live-config-foobar.git

Package: live-config-foobar
Architecture: all
Depends: ${misc:Depends}, live-config (>= 5), live-config (<< 6)
Description: Additional Live System Configuration Components (foobar)
 live-config contains the components that configure a live system during the
 boot process (late userspace).
 .
 This package contains the additional foobar component(s).
